<!DOCTYPE html>
<html lang="en" ng-app="gitPro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/css/style.css">
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
    <title>GitPro</title>
</head>
<body>

    <div ng-controller="MainController">
        <h1>{{message}}</h1>

        <div>{{error}}</div>

        <div>

            <form name="searchUser">
                <input type="search" placeholder="Username to find" ng-model="username" />
                <input type="submit" value="Search" ng-click="search(username)">
            </form>

            <div>
                Name: {{user.name}}
            </div>
            <div>
                Location: {{user.location}}
            </div>
            <div>
                <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
            </div>
        </div>

    </div>
</body>
</html>