nav {
    background-color: #6a8a8f;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    // box-shadow: 0 0 5px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-weight: 500;
        color: #d3d3d3;
        padding: 0.45rem;
        margin: 0 0.25rem;
        text-decoration: none;

        &:hover {
            color: black;
        }
      }
}

.fab {
    font-size: 2rem;
    padding-right: 5px;
    padding-left: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    li {
        list-style: none;
        text-decoration: none;
    }
}